<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./assets/images/favicon-digicraft.png" rel="shortcut icon" type="image/x-icon" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Creative Meets Technology | Digicraft</title>
    <meta content="We thrive on developing and designing digital products and integrated technology solutions to help you spend wisely and grow faster." name="description" />
    <meta content="Creative Meets Technology | Digicraft" property="og:title" />
    <meta content="We thrive on developing and designing digital products and integrated technology solutions to help you spend wisely and grow faster." property="og:description" />
    <meta content="Creative Meets Technology | Digicraft" property="twitter:title" />
    <meta content="We thrive on developing and designing digital products and integrated technology solutions to help you spend wisely and grow faster." property="twitter:description" />
    <meta property="og:type" content="website" />
    <meta content="summary_large_image" name="twitter:card" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
  </head>
  <body>
    <main>
      {# <header> #}
      {% include '../components/navigation.twig' %}
      {# </header> #}
      {% block main %}

      {% endblock %}

      {% include '../components/footer.twig' %}
    </main>
  </body>
</html>
