// @import "variables";

body {
    background-color: $digicraft-black;
    font-family: $font-family-base;
    color: $primary;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: $primary;
    font-family: $headings-font-family;
    line-height: 0.9;
    font-weight: 500;
}

h1, .h1 {
    font-size: $display1-size;
}
h2, .h2 {
    font-size: $display2-size;
}
h3, .h3 {
    font-size: $display3-size;
}
h4, .h4  {
    font-size: $display4-size;
}
h5, .h5 {
    font-size: $display5-size;
}
h6, .h6 {
    font-size: $display6-size;
}
