.hero {
    background: url("../assets/images/digicraft-logo-2021.png");
    background-size: cover;
    background-position: center;
    min-height: 500px;
    width: 100%;

   
}
p {
    font-family: 'Bungee-Regular';
}