{% macro card(cardTitle, cardDescription) %}
<div class="card variant-small">
  <div class="card-body">
    <h5 class="card-title">{{cardTitle}}</h5>
    <p class="card-text">{{cardDescription}}</p>
  </div>
</div>
{% endmacro %}
