<div class="footer-container my-auto container">
  <footer>
    <p class="w-md-30 w-75 lead mb-5 text-secondary">Reimagine the future of your business with smarter digital solutions.</p>
    <ul class="footer-nav ps-0 mb-3 mb-lg-5 d-flex justify-content-start">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/work">Work</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/blog">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
    </ul>
    <p class="w-100 small mb-5 text-secondary">Digicraft © 2022 </p>
  </footer>
</div>
