<div class="nav-container">
  <nav class="navbar navbar-expand-lg w-100 position-absolute">
    <div class="container">
      <a class="navbar-brand" href="/"><img class="brand-logo" src="assets/images/digicraft.png" alt="logo" /></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarBurgerMenuToggler" aria-controls="navbarBurgerMenuToggler" aria-expanded="false" aria-label="Toggle navigation">
        <ul class="customBurgerMenu">
          <li class="burger-bar"></li>
          <li class="burger-bar"></li>
          <li class="burger-bar"></li>
          <li class="burger-bar"></li>
        </ul>
      </button>
      <div class="collapse navbar-collapse d-lg-none" id="navbarBurgerMenuToggler">
        <ul class="navbar-nav ms-lg-auto ms-3 mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#services">Our Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blog.html">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
