{% extends 'templates/partials/base.twig' %}
{% block main %}
  <div id="hero" class="hero">
    <h1>Hello, Bootstrap andsasdas Webpack!</h1>
    <button class="btn btn-primary">Primary button</button>
  </div>

  <img src="./images/digicraft-logo-2021.png" width="250" alt="" />
{% endblock %}
